/*Bootstrap's edits*/
textarea {
	resize: none;
}

.no-padding {
	padding: 0px;
}

.no-margin {
	margin: 0px;
}

.navbar-custom {
	background-color: #337AB7;
	color: white;
}

.sidebar-text {
	font-size: 20px;
}

.sidebar-title {
	font-size: 24px;
	font-weight: bold;
}

.sidebar-group {
	margin-top: 15px;
	margin-bottom:  15px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table > tbody > tr > td.no-border {
	border: none;
}

.row {
	margin-top: 10px;
	margin-bottom: 10px;
}

.div-bordered {
	border-top: 1px solid #DDD;
	padding-top: 10px;
}

.div-bordered-warning {
	border-top: 5px solid #EB9316;
	padding-top: 10px;
}

/*Logo in header*/
.logo {
	color: white;
	font-size: 36px;
}

.logo:hover {
	color: orange;
	text-decoration: none;
}

/*Remove arrows of input type number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

/*Center text in div*/
.div-to-block {
	display: block;
	height: 30px;
}

.p-text-vertical-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.height-fixed {
	height: 34px;
}