/*Bootstrap's edits*/
.no-padding {
	padding: 0px;
}

.no-margin {
	margin: 0px;
}

.navbar-custom {
	background-color: #337AB7;
	color: white;
}

.sidebar-text {
	font-size: 20px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table > tbody > tr > td.no-border {
	border: none;
}

/*Logo in header*/
.logo {
	color: white;
	font-size: 36px;
}

.logo:hover {
	color: orange;
	text-decoration: none;
}

/*Remove arraws of input type number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

/*Center text in div*/
.div-to-block {
	display: block;
	height: 30px;
}

.p-text-vertical-center {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}